/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html { 
  
  font-size: 30px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 20 px;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */

.hero-image {
  height: 500px;
  background-image: url("../images/apple-pie.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text{ 
  color: azure;
}


